body{
  background-color: azure;
  font-family: 'Raleway', sans-serif;
}
.m{
  font-size: 19px;
}
.m:hover{
  color: aqua;
}
.b{
  background-color: red;
  color: aliceblue;
}
.at{
  text-decoration: none;
  color: aliceblue;
}
.bb{
  float: right;
  font-size: 25px;
  padding: 35px 0px ;
}
.bb:hover{
  background-color: #DD3333;
  color: yellowgreen;
}
td a{
  text-decoration: none;
  color: black;
}
td a:hover{
  color: yellowgreen;
  background-color: #DD3333;
}
.c{
  background-color: lightblue;
}
.r{
  background-color:#242424;
}
.f{
  background-color: #DD3333;
  color: aliceblue;
  font-size: 25px;
}
.o{
  float: right;
  color: aliceblue;
  font-size: 20px;
}
.ee{
  color: red;
}
.pp{
  height: 300px;
  width: 300px;
  border: red solid 2px;
}
.container{
  width: 960px;
  margin: auto;
}
  .regForm{
    margin-top: 100px;
    margin-bottom: 200px;
}
.form{
  width: 600px;
  height: 500px;
  margin: auto;
  background-color: #ADD8E6;
  text-align: center;
  border-radius: 100px;
  padding: 50px;
  color: white;
}
.form h2{
  margin-bottom: 20px;
}
.form input{
  padding: 10px;
  outline: none;
  border: 2px solid  #DD3333;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 200px;
}
textarea{
  padding: 10px;
  outline: none;
  border: 2px solid  #DD3333;
  border-radius: 50px;
  margin-bottom: 20px;
}
.form input:focus{
  width: 250px;
}
.form .submit{
  background-color:  #DD3333;
  width: 150px;
}
.pack{
  padding: 10px;
  outline: none;
  border: 2px solid  #DD3333;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 200px;
}
.pack:focus{
  width: 250px;
}